.main_skill_container {
  padding: 20px;
  min-width: 420px;
  border-radius: 8px;
  background-color: #fef9f3;
}

.main_skill_container ul li {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.skill_edit_container {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
}

.skill_edit_container button {
  padding: 15px 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #ebe1c8;
}

.skill_edit_container button:nth-child(1) {
  width: 80%;
  border-radius: 8px 0 0 8px;
}

.skill_edit_container button:nth-child(2) {
  width: 20%;
  border-radius: 0 8px 8px 0;
}