.main_icons_container {
  min-width: 170px;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid black;
  background-color: #eece93;
}

.icons_row_one {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.icons_row_two_parent_container {
  padding: 10px;
}

.icons_row_two,
.icons_row_three,
.icons_row_four,
.icons_row_five {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}