#main_page_section {
  max-width: 1280px;
  height: 170vh;
  margin: auto;
  padding: 30px;
  background-color: #b3dac5;
}

.main_center_content_container {
  margin-top: 50px;
  height: 92%;
  padding: 20px;
  position: relative;
  background-color: #f0ebdd;
}

.main_center_content_container ul {
  list-style: none;
}

/* Position of the sections__ */

#container_on-1 {
  position: absolute;
  z-index: 420;
  top: -1.5%;
  right: 5%;
}

#container_on-2 {
  position: absolute;
  z-index: 421;
  top: 7%;
  left: 3%;
}

#container_on-3 {
  position: absolute;
  z-index: 421;
  top: 38%;
  left: 5%;
}

#container_on-4 {
  position: absolute;
  z-index: 421;
  top: 35%;
  right: 10%;
}

#container_on-5 {
  position: absolute;
  z-index: 420;
  top: 70%;
  left: 18%;
}

#container_on-6 {
  position: absolute;
  z-index: 420;
  top: 93.5%;
  left: 3%;
}

#container_on-7 {
  position: absolute;
  z-index: 450;
  top: 85.5%;
  left: 65%;
}

/* Responsive style__ */

@media screen and (max-width: 1280px) {
  #main_page_section {
    max-width: 1024px;
  }

  #container_on-1 {
    top: -2%;
    right: 3%;
  }

  #container_on-3 {
    top: 36.5%;
    left: 3%;
  }

  #container_on-4 {
    top: 34%;
    right: 6%;
  }

  #container_on-5 {
    top: 69%;
    left: 7.5%;
  }

  #container_on-7 {
    top: 86.5%;
    left: 58%;
  }
}